:host {
  flex: 1;
  display: flex;
  padding: var(--page-spacing-md);
}

.card.init {
  margin: 1rem var(--page-spacing-md);
  transition: opacity 0.3s;
  max-height: 120px;

  flex: 1;
  &:hover {
    // .mat-icon {
    //   text-shadow: 0 0 2px var(--danger), 0 0 2px var(--danger);
    // }

    cursor: pointer;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    flex-direction: column;
    padding: 0 !important;
  }

  .filters__shadow {
    display: none !important;
  }

  .card-container {
    &--filters {
      flex-direction: column;
    }
  }
  img {
    margin-top: 2.5rem;
  }
}

.mat-icon {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  color: var(--primary);
  transition: color var(--transition-extra) ease-out;

  &.danger {
    color: var(--danger);
  }

  &.warning {
    color: var(--warning);
  }
}

.p-1 {
  padding: 1rem;
}

.card--danger {
  border-bottom: 3px solid var(--danger);
}

.card--warning {
  border-bottom: 3px solid var(--warning);
}

.label {
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.description {
  flex: 1;
  width: 100%;
  font-size: 0.6rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.header {
  flex: 1;
  width: 100%;
  font-size: 0.6rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}

.card-content {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mb-1 {
  margin-bottom: 3px;
}

.mat-form-field {
}

.toggles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary);
  padding: 1.1rem 1rem;

  border-bottom-left-radius: var(--default-border-radius);
  border-bottom-right-radius: var(--default-border-radius);

  .top-button {
    margin: 0.35rem 0;
  }
}

.filters {
  display: flex;
  justify-content: center;
}
.filters__shadow {
  display: block;
  box-shadow: var(--box-shadow);
}

.mat-mdc-form-field-input-control::placeholder {
  color: var(--secondary) !important;
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card-container--filters {
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.flex-3 {
  flex: 3;
}
