<div class="sidebar__container">
  <!-- <ng-content></ng-content> -->

  @if(selectedShip) {
  <div class="sidebar__content">
    <div class="sidebar__content__label">
      <div class="label">MMSI</div>

      <div class="value">{{ selectedShip.shiP_ID }}</div>
    </div>

    <div class="sidebar__content__label">
      <div class="label">Ship Type</div>

      <div class="value">{{ getShipType(selectedShip) }}</div>
    </div>
    <div class="sidebar__content__label">
      <div class="label">Ship Name</div>

      <div class="value">{{ selectedShip.shipname }}</div>
    </div>
    @if(getShipCountry(selectedShip)) {

    <div class="sidebar__content__label">
      <div class="label">Country</div>
      <div class="value">{{ getShipCountry(selectedShip) }}</div>
    </div>
    }

    <div class="sidebar__content__label">
      <div class="label">Threat Level</div>

      <div class="value">{{ getThreatLevel(selectedShip) }}</div>
    </div>
  </div>
  }
</div>
