:host {
  background-color: var(--primary-deep);
  box-sizing: border-box;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: var(--header-height);
  transition: width 0.5s;
  width: 0rem;

  .sidebar__container {
    padding: 3rem 3rem;
  }

  .sidebar__content {
    display: flex;
    flex-direction: column;

    &__label {
      margin-bottom: 1rem;
    }
  }

  .label {
    font-size: 0.7rem;
    font-weight: bolder;

    &--status {
      margin-bottom: 0.2rem;
    }

    &.warning {
      color: var(--warning);
    }
    &.danger {
      color: var(--danger);
    }
  }

  .value {
    &--mmsi {
      word-break: break-all;
    }
  }
}

.alert-header {
  margin: 1rem 0 -1rem;
  width: 100%;
  display: flex;
  justify-content: center;

  &.danger {
    color: var(--danger);
  }

  &.warning {
    color: var(--warning);
  }
}

@media only screen and (max-width: 600px) {
  :host {
    top: unset;
    height: unset !important;
    bottom: 0;

    &.is-sidebar-expanded {
      width: 100% !important;
    }

    .sidebar__container {
      padding: 0.5rem 1.5rem;
    }

    .sidebar__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__label {
        margin-bottom: 0.1rem;
        min-width: 10rem;
      }
    }

    .alert-header {
      display: none;
    }
  }
}

.mat-icon {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  color: var(--panel);
  transition: color var(--transition-extra) ease-out;

  &.warning {
    color: var(--warning);
  }
  &.danger {
    color: var(--danger);
  }
}

.mat-divider {
  border-top-color: var(--panel);
  margin: 0.5rem 0;
}

.close {
  position: absolute;
  .mat-icon {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
    color: var(--panel);
    transition: color var(--transition-extra) ease-out;
    &:hover {
      color: #677089;
      cursor: pointer;
    }
  }
  top: 1rem;
  right: 1rem;
}
