/* You can add global styles to this file, and also import other style files */
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  background-color: cyan;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.route-container {
  // view-transition-name: login-form;
  display: flex;
  width: 100%;
  // overflow-y: scroll;
  background-color: var(--primary-deep);
  // height: calc(100vh - 4px);
  position: relative;
  height: 100%;
}

.route {
  margin-left: 3rem;
  transition: margin var(--transition-md);
  &.is-toggled {
    margin-left: 15rem !important;
  }
}

// --primary: #38435c; // or any global you wish to share with components
// --accent: #45516e;

// --primary: #152238; // or any global you wish to share with components
// --accent: #23395d;

// Dark Slate Blue (Base) → #38435c - For headers, navigation, or dark backgrounds.

// Muted Indigo (Base) → #45516e - For body background, cards, or secondary sections.

// Soft Gray Neutral → #e0e1e6 - For backgrounds, dividers, or subtle contrast.

// Warm Beige Neutral → #d9c7b8 - Adds warmth, great for highlights or secondary UI areas.

// Mint Green (Accent) → #88d498 - Pops for buttons, links, highlights.

// Deep Charcoal → #232933 - For text, contrast, or footer areas.

//--primary: #38435c;
// --panel: #45516e;
// --gray: #e0e1e6;
// --neutral: #d9c7b8;
// --accent: #88d498;
// --dark: #232933;

:root {
  --primary-deep: #2a3347;
  --primary: #38435c;
  --secondary-deep: #5a647c;
  --panel: #45516e;
  --gray: #e0e1e6;
  --neutral: #d9c7b8;
  --accent: #88d498;
  --dark: #232933;
  --gradient-light: #b6bcd6;
  --danger: #d45d5d;
  --warning: #FFE082;
  // --gradient-card: linear-gradient(to right bottom, #38435c, #3a455f, #3d4862, #3f4a66, #424d69, #4c5673, #56607d, #606a87, #757e9a, #8a92ae, #a0a7c2, #b6bcd6);
  --gradient-card: linear-gradient(
    to right bottom,
    #45516e,
    #495470,
    #4d5873,
    #515b75,
    #555f78,
    #5e6881,
    #677089,
    #707992,
    #8189a3,
    #929ab3,
    #a4abc5,
    #b6bcd6
  );
  // --primary: #152238; // or any global you wish to share with components
  // --accent: #23395d;
  // --teal: coral;
  --secondary: cyan;

  --card-anim-dur: 0.3s;

  // --panel: #1c2e4a;
  --highlighted: rgb(85, 76, 104);
  --header-height: 0;
  --mat-sys-surface-container: var(--primary);
  --mat-sys-on-surface: var(--secondary);
  --mat-form-field-filled-active-indicator-color: rgb(85, 76, 104);
  --card-gradient: linear-gradient(
    to left bottom,
    #55607c,
    #535e7c,
    #515d7b,
    #505b7b,
    #4e597a,
    #4b5678,
    #495475,
    #465173,
    #414e6f,
    #3c4a6b,
    #384766,
    #334462
  );

  --primary-gradient: linear-gradient(
    to top,
    #253149,
    #27324b,
    #28344e,
    #2a3550,
    #2c3652,
    #2e3855,
    #303a57,
    #323c5a,
    #353f5e,
    #374162,
    #3a4466,
    #3d476a
  );
  --primary-gradient-reversed: linear-gradient(
    to bottom,
    #253149,
    #27324b,
    #28344e,
    #2a3550,
    #2c3652,
    #2e3855,
    #303a57,
    #323c5a,
    #353f5e,
    #374162,
    #3a4466,
    #3d476a
  );
  --default-border-radius: 0.4rem;
  // --mat-sys-secondary-container: var(--primary);
  background-image: var(--primary-gradient);

  --box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.22), 0px 6px 10px 0px rgba(0, 0, 0, 0.24),
    0px 1px 18px 0px rgba(0, 0, 0, 0.22);
  --box-shadow-heavy: 0px 3px 5px -1px rgba(0, 0, 0, 0.32), 0px 6px 10px 0px rgba(0, 0, 0, 0.34),
    0px 1px 18px 0px rgba(0, 0, 0, 0.32);
  --inset-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.22) inset,
    0px 6px 10px 0px rgba(0, 0, 0, 0.24) inset, 0px 1px 18px 0px rgba(0, 0, 0, 0.22) inset;
  
    --home-error-icon-text-shadow:    text-shadow: 0 0 2px var(--danger), 0 0 1px var(--danger);

    --home-accent-icon-text-shadow:    text-shadow: 0 0 2px var(--accent), 0 0 1px var(--accent);


  --page-spacing-md: 3rem;

  --weight-bold: 500;
  --letter-spacing: 2px;

  --transition-extra: 0.2s;
  --transition-fast: 0.3s;
  --transition-md: 0.5s;
  --spacing-sm: 2rem;

  --header-md: 2rem;
}

.card {
  background-color: var(--panel);
  transition: margin 0.8s, border-radius var(--card-anim-dur), box-shadow 0.3s;
  display: flex;
  align-items: center;
  flex: 1;

  &.init {
    background-color: var(--panel);
    border-radius: var(--default-border-radius);
    box-shadow: var(--box-shadow);
    // margin: 3rem;
  }
}

.p-3 {
  padding: 3rem;
}

.card-container {
  flex: 1;
  display: flex;

  &--col {
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex: 1;
  background-color: var(--primary-deep);
}

.maplibregl-ctrl {
  display: none;
}

.is-sidebar-expanded {
  width: 20rem !important;
}

// sonar

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.sonar-wrapper {
    position: relative;
  z-index: 0;
.sonar-emitter {
  position: relative;
  margin: 2px auto;
  width: 32px;
  height: 32px;
  border-radius: 9999px;

  &--1 {
  width: 16px;
  height: 16px;
  }
  // background-color: HSL(45, 100%, 50%);
        // transform: translate(-50%, -100%);

  &--empty {
      width: 16px;
      height: 16px;

      .sonar-wave-2 {
        display: none;
      }

            .sonar-wave-3 {
        display: none;
      }
    }

    &--single {
          width: 6px ;
      height: 6px ;
    .sonar-wave-1 {
      animation: sonarWave .8s linear infinite;
    }
    }
  }

  .sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  opacity: 0;
  z-index: -1;
  pointer-events: none;

  &--red {
    background-color: #F56565;
  }

    &--yellow {
    background-color: var(--warning);
  }

      &--gray {
    background-color: var(--gray);
  }

        &--cyan {
    background-color: cyan;
  }

  }
  
    .sonar-wave-1 {
      animation: sonarWave 2s linear infinite;
    }

    .sonar-wave-2 {
      animation: sonarWave 2s 0.5s linear infinite;
    }
    .sonar-wave-3 {
      animation: sonarWave 2s 1s linear infinite;
    }
    // .sonar-wave-4 {
    //   animation: sonarWave 2s 1.5s linear infinite;
    // }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  // border-radius: 10px;
  background: var(--primary-deep);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0;
  width: 5px;
}

.flex-2 {
  flex: 2;
}

.mat-autocomplete {
  width: 100%;
}

.mat-mdc-form-field {
  width: 100%;
  --mat-form-field-filled-container-color: var(--primary);
  --mat-form-field-filled-label-text-color: whitesmoke;
  --mat-sys-primary: var(--secondary);
  --mat-sys-on-surface-variant: var(--secondary);
}

.mat-mdc-autocomplete-panel {
  background-color: var(--panel) !important;
}

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mdc-label {
    margin-left: 1rem !important;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
  }

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: rgb(50, 170, 118);
  /*replace with your color*/
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: var(--accent) !important;
  /*replace with your color*/
}

.mdc-switch__track::before {
  background: var(--primary) !important;
}

.mdc-switch__handle::before {
  background: var(--panel) !important;
}

// /* Optional: hover/focus effects */
// .mat-slide-toggle.mat-checked:hover .mat-slide-toggle-bar {
//   background-color: #66bb6a !important;
// }

// .mat-slide-toggle:not(.mat-checked):hover .mat-slide-toggle-bar {
//   background-color: #e57373 !important;
// }

::ng-deep .mat-input-element::placeholder{
    color: var(--secondary);
}

.mdc-switch--selected .mdc-switch__icon {
  fill: var(--panel) !important;
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

    .maplibregl-popup {
        max-width: 200px;
        // background-color: var(--panel);
        color: var(--primary-deep);
        border-color: var(--primary);
        font-size:0.7rem !important;

        &-content{
          background-color: #2a3347b3 !important;
          padding: 5px !important;
          // border-color: var(--primary) !important;
          text-shadow: var(--text-shadow);
          color: var(--gray);
                  font-size:0.5rem !important;
                  letter-spacing: 1px;
        }

        &-tip{
          background-color: #2a3347b3 !important;
          border:unset !important;
          // border-color: var(--primary) !important;
          // text-shadow: var(--text-shadow);
          color: var(--primary) !important;
          border-top-color: var(--primary-deep) !important;
        }
    }